html {
    background: url("https://static01.nyt.com/images/2020/03/12/arts/12virus-concerts2/merlin_170369790_63d02a4c-82f8-441a-ac7c-c395828b7961-mobileMasterAt3x.jpg") center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

body,html {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    height: 100%;
}

.keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: all .07s ease;
    transition-property: all;
    transition-duration: 0.07s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.key {
    width: 10rem;
    border: .4rem black solid;
    border-radius: .4rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;

}